@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "List";
}

<h2>List of Movies</h2>
<table class="table table-hover table-bordered">
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td>There are no customers to display.</td></tr>
    }
    else
    {

        foreach (var movie in Model)
        {
            <tr><td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td></tr>
        }
    }
</table>
